main {
  min-height: 100vh;
  min-width: 100vw;
}

.background-login-netflix {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/0ef67cc5-0aa7-47cf-87bd-7f595afc7cfb/67142356-efc9-4825-b7e4-d3bc4b91e0fb/CL-es-20221107-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
}
